@import './colors.scss';
@import './mixins/Device.scss';

.container {
  height: fit-content;
  background-color: $primary-color;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .card {
      margin-top: 20px;

      .motto {
        font-weight: bold;
        font-size: 55px;
      }

    }
  }

}

@include devices(mobile) {
  .container {

    .item {
      width: 100%;
      flex-direction: column;
      background-color: $primary-color;

      .card {
        &:first-child {
          display: none;
        }
      }
    }
  }

}