@import './colors.scss';

.container {
  height: 40vh;
  background-color: $primary-color;
  padding: 0px 50px;
  width: 100%;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card {
      margin-top: 20px;

      .motto {
        font-weight: bold;
        font-size: 55px;
      }

    }
  }

}